@model RoomAddDto

@{
	ViewData["Title"] = "Add";
	Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
	<label>Oda Numarasi</label>
	<input type="text" asp-for="RoomNumber" class="form-control" />
	<br />

	<label>Oda Resmi</label>
	<input type="text" asp-for="RoomCoverImage" class="form-control" />
	<br />

	<label>Oda Fiyati</label>
	<input type="number" asp-for="Price" class="form-control" />
	<br />

	<label>Baslik</label>
	<input type="text" asp-for="Title" class="form-control" />
	<br />

	<label>Yatak Sayisi</label>
	<input type="number" asp-for="BedCount" class="form-control" />
	<br />

	<label>Banyo Sayisi</label>
	<input type="number" asp-for="BathCount" class="form-control" />
	<br />

	<label>Wifi</label>
	<input type="text" asp-for="Wifi" class="form-control" />
	<br />

	<label>Aciklama</label>
	<input type="text" asp-for="Description" class="form-control" />
	<br />

	<button class="btn btn-primary">Yeni Oda Ekle</button>
</form>
